* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    
}

h1 {
    text-align: center;
    margin: 50px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box{
    width: 30%;
    height: 200px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 1px;
}

.zaka {
    border: 3px solid black;
    background-color: gray;
}

.wox {
    border: 3px solid black;
    background-color: gray;
}

.calyx {
    border: 3px solid black;
    background-color: gray;
}

h2 {
    text-align: right;
    border: 2px solid black; 
    text-decoration: none;
    display: inline;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    margin-inline-start: 312px;     
    position: relative;
    top: 4px;
    right: 4px;
}


#H1 {
    background-color: pink;
}

#H2 {
    background-color: red;
}

#H3 {
    background-color: yellow;
}

p {
    font-size: 15px;
    margin: 30px;
    padding: 20px;
}

@media screen and (max-width: 1200px){
    .box {
        width: 40%;
        margin: 20px;
    }
    h2{
        position: relative;
        right: 44px;
    }
@media screen {
    h2 {
        position: relative;
        left: 12px;
    }
        
    }
}
@media screen and (max-width: 900px){
    .box{
        width: 40%;
        margin: 35px;
    }
}
@media screen and (max-width: 852px) {
    h2 {
        position: relative;
        right: 300px;
    }
    
}
@media screen and (max-width: 772) {
    h2 {
        position: relative;
        right: 200px;
    }
    
}


@media screen and (max-width: 768px){
    .box {
        width: 90%;
    }
    h2 {
        position: relative;
        left: 307px;
    }
}
@media  screen and (max-width: 620px) {
    h2{
        position: relative;
        right: 700px;
    }
    
}
@media screen and (max-width: 345px) {
    .box {
        margin: 30px;
    }
    h2 {
        text-align: center;
    }
}
